

.App {
  text-align: center;
}

nav {
  display:flex;
  justify-self: space-around;
  align-items: center;
  background: rgb(73,79,82);
  color:white;
}

.editor{
  
  margin: auto;
}
.display img{
  max-width: '70%';
}
.full-blog {
  margin:auto;
}
.full-blog img{
  max-width: '70%';
}

.jumbotron{
  background: url("lights2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}


